# Ignore user-specific R project files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore everything in extdata except README.md
extdata/*
!extdata/README

# Ignore everything in outputs except README.md
outputs/*
!outputs/README

