# Ignore user-specific R project files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore everything in data except README.md, /raw and /processed
data/*
!data/README.md
!data/raw/
!data/processed/

# Ignore everything in data/raw except README.md
!data/raw/*
!data/raw/README.md

# Ignore everything in data/processed except README.md
!data/processed/*
!data/processed/README.md

# Ignore everything in outputs except README.md
outputs/*
!outputs/README.md

# Ignore files in scratchpad except README.md
scratchpad/*
!scratchpad/README.md
