# Ignore user-specific R project files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore everything in extdata except README.md, /raw and /processed
extdata/*
!extdata/README.md
!extdata/raw/
!extdata/processed/

# Ignore everything in extdata/raw except README.md
!extdata/raw/*
!extdata/raw/README.md

# Ignore everything in extdata/processed except README.md
!extdata/processed/*
!extdata/processed/README.md

# Ignore everything in outputs except README.md
outputs/*
!outputs/README.md

# Ignore files in scratchpad except README.md
scratchpad/*
!scratchpad/README.md
